:host {
  * {font-family: Arial, Helvetica, sans-serif;}
  --background-color: lightgrey;

  display: block;
  border: 1px solid white;
  background: var(--background-color);
  padding: 10px;
  max-width: 80%;
  margin: auto;

  h2 {
    
    color: black;
  }

  .content {
    display: block;
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}